.profile-text-container {
    margin-left: 50px;
    margin-top: 150px;
    max-width: 45%;
  }

.profile-screen {
    display: flex;
    flex-direction: row;
  }

.profile-info-container {
    border: 1px dotted purple;
    display: flex;
    flex-direction: row;
}
 
.headshot {
    border: 1px solid purple;
    height: 150px;
    width: 450px;
    padding: 0 10px;
    margin-right: 20px;
    max-width: 25%;
}

.profile-info {
    border: 2px solid purple;
    padding: 0 10px;
    width: 90%;
}

.txt {
  max-width: 50%;
  margin: 0;
  font-weight: lighter;
}
.profile-sample-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding: 0 20px;
    max-width: 35%;
    border: 2px solid lavender;
  }

.profile-image {
    height: 250px;
    width: 850px;
    margin-top: 150px;
}
